<h1>list Book</h1>
<hr>
<p>có {{listBook.length}} quyển sách</p>
<table border="3px">
  <tr>
    <td>id</td>
    <td>title</td>
    <td>author</td>
    <td>action</td>
<!--    <td>delete</td>-->
  </tr>
  <tr *ngFor="let book of listBook">
    <td>{{book.id}}</td>
    <td><a [routerLink]="['detail',book.id]">{{book.title}}</a></td>
    <td>{{book.author}}</td>
    <td>
      <button class="btn-success" [routerLink]="['/update', book.id]">update</button>
      <button class="btn-danger" [routerLink]="['/delete', book.id]">delete</button>
    </td>
  </tr>
</table>

<button class="btn-dark" [routerLink]="['create']">create new</button>

